body {
  font-family: sans-serif;
  background: #dedede;
}

h1 {
  text-align: center;
  display: inline-block;
  font-size: 72px;
}

.loader__wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.loader {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  animation: bounce 1s infinite;
}

.loader:nth-child(1) {
  animation-delay: 0.2s;
}

.loader:nth-child(2) {
  animation-delay: 0.3s;
}

.loader:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100%);
  }
}
